<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>M3 App</title>
</head>
<body>
<span th:text="${now}">28/05/1975</span>

<form method="POST" th:action="@{/search}">
    <h2>Search tweets</h2>

    <div>
        Hashtag:
        <input name="hashtag" type="text" autofocus="true"/>
        <br/><br>
        <button type="submit">Search</button>
    </div>
</form>

<hr>
<table>
    <th:block th:each="tweet : ${tweets}">
        <tr>
            <td th:text="${tweet.createdAt}">...</td>
            <td th:text="${tweet.text}">...</td>
            <td th:text="${tweet.fromUser}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>